
<% provide(:title, 'About Us') %>
  <%= render 'layouts/header' %> 
<h1></h1>


<section id="content">
            <h1>This is StartUp for smartWatch</h1>
               <h3>Team members:</h3>
               <h4>Leshinskiy Volodimir - Management</h4>
<h4>Kravchenko Alex - Ruby, JavaScript, HTML5, CSS3</h4>
<h4><a href="https://vk.com/sobol_kostya" target="blank">Sobol Konstantin</a> - design web-site</h4>
			
			<h1>Financials </h1>
            <p>Web hosting ~ <span style="color:green">10$</span> per month * 12 = <span style="color:green">120$</span></p>
			<p>Apple Market – <span style="color:green">25$</span> at the first time</p>
			<p>Play Market – <span style="color:green">25$</span> at the first time</p>
			<p>Amazon Web-Services ~ <span style="color:green">4$</span> per month * 12 = <span style="color:green">48$</span></p>
			<p>Total: <span style="color:green">168$</span> per year & <span style="color:green">50$</span> per mobile app markets</p>
			<p>Current balance: <span style="color:red">25$</span></p>
        </section>

        <footer>
           <p>Manipulating Time &copy; 2016</p>
        </footer>