
<% provide(:title, 'About Us') %>
  <%= render 'layouts/header' %> 
<h1></h1>


<section id="content">
            <h1>This is StartUp for smartWatch</h1>
               <h3>Team members:</h3>
<h4>Kravchenko Alex - Ruby, JavaScript, HTML5, CSS3</h4>
<h4>Sobol Konstantin - design web-site</h4>
        </section>

        <footer>
           <p>Manipulating Time &copy; 2016</p>
        </footer>