<% provide(:title, 'Home') %>
       <%= render 'layouts/header' %> 
        <section id="main">
            <div id="task_list">
                <ul>
                    <li><a href="#"><span class="name-task">Time to work</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">Time to rest</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">GYM</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">Time to study</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">Time to work</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">Time to rest</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">GYM</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                    <li><a href="#"><span class="name-task">Time to study YEAA</span>&#32;<span class="time-of-end-task">01:21:28</span></a></li>

                </ul>
            </div>

            <div id="watch">
                <div id="clock_view">
                    <article id="time">
                        <div id="center"></div>
                        <div id="second"></div>
                        <div id="minute"></div>
                        <div id="hour"></div> 
                    </article>
                </div>
                <div id="time_now">
                    <a href="#" class="left_arrow"></a>
                    <div id="now"></div>
                    <a href="#" class="right_arrow"></a>
                </div>
                <div style="clear:both"></div>
                <div id="time_to_next">
                    You have <span class="next">01:21:28</span> for the next time
                </div>
            </div>

            <div id="editing_task">
                <h2>Create new task</h2>
                <form id="creating_task">
                    <div>
                        <input type="text" id="task_name" name="task_name" placeholder="Name task...">
                    </div>
                    <div>
                        <input type="text" id="start_date" name="start_date" placeholder="Start time...">
                    </div>
                    <div>
                        <input type="text" id="end_date" name="end_date" placeholder="Finish time...">
                    </div>
                    <div>
                        <select size="1" name="color" id="selected_color">
                            <option value="0000ff" class="blue">Blue</option>
                            <option value="00ffff" class="cyan">Cyan</option>
                            <option value="ffffff" class="white">White</option>
                            <option value="ff00ff" class="magenta">Magenta</option>
                            <option value="800000" class="maroon">Maroon</option>
                       </select>
                    </div>
                    <div>
                        <input type="submit" value="OK">
                    </div>
                </form>
            </form>
            </div>
            <div style="clear:both"></div>
        </section>

        <footer class="footer_blue">
           <p>Manipulating Time &copy; 2016</p>
        </footer>









        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
        <script>
            $(function() {
                $("#task_list").css("overflow", "hidden").wrapInner("<div id='mover' />");
                var $el,
                    speed = 9.2,
                    cur = -1,
                    items = $("#task_list a"),
                max = items.length - 10;
                items.each(function(i) {
                    $(this).attr("data-pos", i);
                }).hover(function() {
                    $el = $(this);
                    $el.addClass("hover");
                    $("#mover").css("top", -($el.data("pos") * speed - 0));
                    cur = $el.data("pos");
                },function() {
                    $(this).removeClass("hover");
                });
            });
        </script>


        <script type="text/javascript">
        $(document).ready(function(){
            setInterval(function() {
                $("#now").text(formatAMPM(new Date()));
            }, 1000);  
         
        });
            function formatAMPM(date) {
              var hours = date.getHours();
              var minutes = date.getMinutes();
              var seconds = date.getSeconds();
              var ampm = hours >= 12 ? 'PM' : 'AM';
              hours = hours % 12;
              hours = hours ? hours : 12; // the hour '0' should be '12'
              minutes = minutes < 10 ? '0'+minutes : minutes;
              seconds = seconds < 10 ? '0'+seconds : seconds;
              var strTime = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
              return strTime;
            }
        </script>

        <script type="text/javascript">

        $(document).ready(function($) {
setInterval( function() {
      var seconds = new Date().getSeconds();
      var sdegree = seconds * 6;
      var srotate = 'rotate(' + sdegree + 'deg)';

      $('#second').css({'-moz-transform' : srotate, '-webkit-transform' : srotate, '-o-transform' : srotate});

      }, 1000 );

      setInterval( function() {
      var hours = new Date().getHours();
      var mins = new Date().getMinutes();
      var hdegree = hours * 30 + (mins / 2);
      var hrotate = 'rotate(' + hdegree + 'deg)';

      $('#hour').css({'-moz-transform' : hrotate, '-webkit-transform' : hrotate, '-o-transform' : hrotate});

      }, 1000 );

      setInterval( function() {
      var mins = new Date().getMinutes();
      var mdegree = mins * 6;
      var mrotate = 'rotate(' + mdegree + 'deg)';

      $('#minute').css({'-moz-transform' : mrotate, '-webkit-transform' : mrotate, '-o-transform' : mrotate});

      }, 1000 );
    
    
});
</script>

        