
<% provide(:title, 'Idea') %>
  <%= render 'layouts/header' %> 
<h1></h1>


<section id="content">
            <h1>This is StartUp for smartWatch</h1>
            <h1>Company Purpose</h1>
            <p>ManipulatingTime – appliacation-oriented people of any age who have smartWatch. User-friendly interface that anyone can starts own tasks for own time quickly without any troubles and problems.</p>

            <h1>Problem</h1>
            <p>The main problem is that the existing time management solutions for people with smart watches, inefficient and not friendly in terms of user interface.</p>

            <h1>Why Now</h1>
            <p>Because increasing popularity of smart watches.</p>

            <h1>Market Size </h1>
            <p>Web project covers a huge audience <span style="color:blue">(~10 000 000)</span>. I suppose that <span style="color:green">1 000$</span> will be allocated for the project within a year.</p>

            <h1>Product</h1>
            <p>Product features: synchronization (mobile, web, smartWatch), add money-services, add security-services, design many interactive pie charts</p>

            <h1>Business Model </h1>
            <p>Uniqueness of the product is that it can work with smartWatch. It is cheaper than the competition. The product solves the problem of time manipulating. To implement the necessary human, financial, information resources. Key partners will be Amazon Servers, Apple Store. Distribution and advertising of a product on the Internet and in the cities that will be served, buying contextual advertising. In the initial stages it will have to spend on advertising, development and maintenance. The costs include fees for advertising costs at the initial stage of development. <span style="color:blue">VIP-account</span> costs <span style="color:green">10$</span> a month. VIP includes smart notify and full history tasks, auto-entering necessary data.</p>
        </section>

        <footer>
           <p>Manipulating Time &copy; 2016</p>
        </footer>