
<% provide(:title, 'Idea') %>
  <%= render 'layouts/header' %> 
<h1></h1>


<section id="content">
            <h1>This is StartUp for smartWatch</h1>
        </section>

        <footer>
           <p>Manipulating Time &copy; 2016</p>
        </footer>