/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset.css" screen;
@import "clock.css" screen;
@font-face {
	font-family: 'Helvetica Neue LT Std Bold';
    src: font-url('HelveticaNeueLTStd-Bd.otf');
}
@font-face {
	font-family: 'Helvetica Neue LT Std Medium';
    src: font-url('HelveticaNeueLTStd-Md.otf');
}
@font-face {
	font-family: 'Helvetica Neue LT Std Light';
    src: font-url('HelveticaNeueLTStd-Lt.otf');
}

body {
	background-color: #fff;
	width: 100%;
}

header {
	background-color: #026aa7;
	width: 90%;
	height: 70px;
	padding-left: 5%;
	padding-right: 5%;
}

header a{
	color:#fff;
	text-decoration: none;
}

#menu{
	float:left;
	margin-top: 23px;
	margin-bottom: 23px;
}

#menu ul li{
	float:left;
	border-right: 1px solid #fff;
	font-family: 'Helvetica Neue LT Std Medium';
	font-size: 18px;
	padding-left:15px;
	padding-right:15px;
	padding-top: 5px;
	padding-bottom: 1px;
}

#menu ul li.selected, #menu ul li:hover{
	font-family: 'Helvetica Neue LT Std Bold';
	font-size: 24px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#menu ul li:last-child{
	border-right: none;
}

#authentication{
	float:right;
	font-family: 'Helvetica Neue LT Std Bold';
	font-size: 18px;
}

#authentication .login, #authentication .signup, #authentication .user, #authentication .notifications{
	float: left;
}
#authentication .login, #authentication .user{
	margin-right: 20px;
}
#authentication a{
	height: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 5px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.login{
	background-color: #4f97c0;
}
.login:hover{
	background-color: #5ba1cb;
}

.signup{
	background-color: #4fc05f;
}
.signup:hover{
	background-color: #5ccb5e;
}

.user{
	background-color: #4f97c0;
}

.user:hover{
	background-color: #5ca1cb;
}

#content{
	padding-left: 5%;
	padding-right: 5%;
	width: 90%;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #4d4d4d;
	font-family: 'Helvetica Neue LT Std Light';
}

footer{
	width: 100%;
	text-align: center;
	color: #d3d3d3;
	font-family: 'Helvetica Neue LT Std Medium';
	font-size: 16px;
	margin-top: 25px;
}

h1{
	color: #4d4d4d;
	font-family: 'Helvetica Neue LT Std Bold';
	font-size: 24px;
	margin-bottom: 25px;
	margin-top: 25px;
}

h2{
	color: #fff;
	font-family: 'Helvetica Neue LT Std Bold';
	font-size: 18px;
	margin-bottom: 25px;
	margin-top: 25px;
	text-align:center;
}

#new_user{

}

#new_user label{
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}
#new_user input{
	margin-bottom: 20px;
	height: 32px;
	border-radius: 5px;
	width: 320px;
	font-size: 16px;
	padding-left: 5px;
	border: 1px solid #b1b1b1;
}
#new_user input:focus{
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

#new_user input.not_enter{
	background-color: #edeff0;
}
#new_user input.true_enter{
	background-color: #ffffcc;
	color: #333333;
}

#new_user input.wrong_enter{
	background-color: #ffffcc;
	color: #333333;
	border: 1px solid #ff6666;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="text"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
  border: none;
}

input, textarea {
  outline: none;
}

::-ms-clear {
  display: none;
}

::-webkit-input-placeholder  {
    color: #b1b1b1;
    font-size: 16px;
    font-family: 'Helvetica Neue LT Std Light'
}
input:-moz-placeholder,
textarea:-moz-placeholder{
    color: #b1b1b1;
    font-size: 16px;
    font-family: 'Helvetica Neue LT Std Light'
}

#new_user input[type="submit"]{
	background-color: #4fc05f;
	color: #fff;
	font-size: 18px;
	font-family: 'Helvetica Neue LT Std Bold';
	width: 230px;
	height: 40px;
	cursor: pointer;
}

#new_user input[type="submit"]:hover{
	background-color: #5ccb5e;
}


form{

}

form label{
	font-size: 20px;
	display: block;
	margin-bottom: 10px;
}
form input{
	margin-bottom: 20px;
	height: 32px;
	border-radius: 5px;
	width: 320px;
	font-size: 16px;
	padding-left: 5px;
	border: 1px solid #b1b1b1;
}
form input:focus{
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
}

form input.not_enter{
	background-color: #edeff0;
}
form input.true_enter{
	background-color: #ffffcc;
	color: #333333;
}

form input.wrong_enter{
	background-color: #ffffcc;
	color: #333333;
	border: 1px solid #ff6666;
}
form input[type="submit"]{
	background-color: #4fc05f;
	color: #fff;
	font-size: 18px;
	font-family: 'Helvetica Neue LT Std Bold';
	width: 230px;
	height: 40px;
	cursor: pointer;
}

form input[type="submit"]:hover{
	background-color: #5ccb5e;
}




#main{
	background-color: #008bdb;
	padding-left: 5%;
	padding-right: 5%;
}

#task_list{
	width: 220px;
	float: left;
	color: #fff;
	font-size: 16px;
	font-family: 'Helvetica Neue LT Std Medium';
	margin-top: 25px;
	margin-bottom: 25px;
	height: 300px;
	overflow: auto;	
	position: relative;
	margin-right: 25px;
}
#mover {
	position: absolute;
	width: 100%;
	padding-top: 0px;
	height: 300px;
}
#task_list ul{
	width: 100%;
}
#task_list li{
	height: 40px;
	
}
#task_list a{
	text-decoration: none;
	color: #fff;
	display: block;
	width: 100%;
	height: 40px;
}
#task_list a span{
	top: 12px;
    position: relative;
}
#task_list ul li:nth-child(2n){
	background-color: rgba(235,90,70,0.9);
}

#task_list ul li:nth-child(2n+1){
	background-color: rgba(97,189,79,0.9);
}

#task_list .name-task{
	float: left;
	margin-left: 5px;
	max-width: 103px;
}
#task_list .time-of-end-task{
	float: right;
	margin-right: 5px;
}

#task_list .hover{
	background-color: rgba(0,121,191,1);
}

#editing_task{
	width: 220px;
	float: right;
	margin-left: 25px;
}

#watch {
	width: 565px;
	float: left;
}


#creating_task input[type=text],select{
	font-size: 14px;
	color: #8d8d8d;
	width: 180px;
	background-color: #eaeaea;	
	border: 1px solid #aaaaaa;
	margin-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#creating_task input,select{
	font-family: 'Helvetica Neue LT Std Medium';
	border-radius: 5px;
	float: right;
	height: 32px;
	margin-bottom: 10px;
}
#creating_task input[type=submit]{
	width: 84px;
	color: white;
	font-size: 16px;
	border:none;
	background-color: #4fc05f;
}
#creating_task input[type=submit]:hover{
	background-color: #5bcb5e;
}
#creating_task select{
	width: 202px;
}
#creating_task select .blue{
	background-color: blue;
	color: white;
}
#creating_task select .cyan{
	background-color: cyan;
	color: white;
}
#creating_task select .white{
	background-color: white;
	color: black;
}
#creating_task select .magenta{
	background-color: magenta;
	color: white;
}



#clock_view{
	margin-top: 25px;
	width: 565px;
	height: 565px;
	background: image-url("bg_clock_with_sectors.png") no-repeat;
	margin-bottom: 25px;
}

.left_arrow{
	background: image-url("left_arrow.png") no-repeat;
	float: left;
}
.left_arrow,.right_arrow{
	display: block;
	height: 28px;
	width: 21px;
	margin-top: 10px;
}
.right_arrow{
	background: image-url("right_arrow.png") no-repeat;
	float: right;
}

#now{
	text-align: center;
	width: 523px;
	font-size: 48px;
	color: white;
	font-family: 'Helvetica Neue LT Std Medium';
	float: left;
}

#time_to_next{
	text-align: center;
	font-size: 24px;
	width: 100%;
	color: white;
	font-family: 'Helvetica Neue LT Std Medium';
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

.footer_blue{
	background-color: #008bdb;
	margin-top: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}


#error_explanation{
	margin-bottom: 10px;
	color: red;

	.alert-error {
	font-weight: 800;
	}
}



.alert.alert-error{
	margin-top:25px;
	margin-left:50px;
	margin-bottom:10px;
	color:red;
}













