#time {
    position:relative;
    display: block;
    width: 565px;
    height: 565px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #ccc;
}
#second, #minute, #hour, #l1, #l2, #l3, #l4, #l5, #l6 {
    position: absolute;
    display: block;
    content: "";
    padding: 100px 1px;
    bottom: 183px;
}
#second:after, #minute:after, #hour:after{
    position:absolute;
    left: 0px;
    content: "";
}
#second { left: 287px; z-index: 4; } 
#second:after {
    top: -112px;
    padding: 104px 2px 147px 1px;
    background: #ff0909;
}
#minute { left: 287px; z-index: 6; }
#minute:after {
    top: -123px;
    padding: 165px 5px 80px 1px;
    background: #000;
}
#hour {    left: 287px; bottom: 180px; z-index: 8; }
#hour:after {
    top: -79px;
    padding: 137px 9px 80px 1px;
    border-radius: 2px 2px 0 0;
    background: #000;
}
#clock {
    position:absolute;
    left: 43px;
    top: 70px;
    font-size: 10px;
}

#l1{ -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); }
#l2{ -webkit-transform: rotate(30deg); -moz-transform: rotate(30deg); -o-transform: rotate(30deg); }
#l3{ -webkit-transform: rotate(60deg); -moz-transform: rotate(60deg); -o-transform: rotate(60deg); }
#l4{ -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); }
#l5{ -webkit-transform: rotate(120deg); -moz-transform: rotate(120deg); -o-transform: rotate(120deg); }
#l6{ -webkit-transform: rotate(150deg); -moz-transform: rotate(150deg); -o-transform: rotate(150deg); }
#l1, #l2, #l3, #l4, #l5, #l6 { left: 280px; z-index: 5; }
#l1:before, #l1:after, #l2:before, #l2:after, #l3:before, #l3:after, #l4:before, #l4:after, #l5:before, #l5:after, #l6:before, #l6:after {
    position:absolute;
    content: "";
    left: 0;
    padding: 5px 2px 5px 1px;
    background: #000;
}
#l1::before, #l2::before, #l3::before, #l4::before, #l5::before, #l6::before { top: -80px; }
#l1::after, #l2::after, #l3::after, #l4::after, #l5::after, #l6::after { bottom: -80px; }
#ln1:before, #ln2:before, #ln3:before, #ln4:before, #ln5:before, #ln6:before, 
#ln7:before, #ln8:before, #ln9:before, #ln10:before, #ln11:before, #ln12:before, 
#ln13:before, #ln14:before, #ln15:before, #ln16:before, #ln17:before, #ln18:before, 
#ln19:before, #ln20:before, #ln21:before, #ln22:before, #ln23:before, #ln24:before, 
#ln25:before, #ln26:before, #ln27:before, #ln28:before, #ln29:before, #ln30:before {
    padding: 5px 1px 5px 0; 
    left: 0px;
    top: 0px; 
    background: #000;
    position: absolute;
    display: block;
    content: "";
}
#ln1:after, #ln2:after, #ln3:after, #ln4:after, #ln5:after, #ln6:after, 
#ln7:after, #ln8:after, #ln9:after, #ln10:after, #ln11:after, #ln12:after, 
#ln13:after, #ln14:after, #ln15:after, #ln16:after, #ln17:after, #ln18:after, 
#ln19:after, #ln20:after, #ln21:after, #ln22:after, #ln23:after, #ln24:after, 
#ln25:after, #ln26:after, #ln27:after, #ln28:after, #ln29:after, #ln30:after {
    padding: 5px 1px 5px 0; 
    left: 0px;
    bottom: 0px; 
    background: #000;
    position: absolute;
    display: block;
    content: "";
}